header {
	background: url("../img/logo.jpg") no-repeat;
	background-position: 5% 40%;
	background-size: 10%;
	min-height: 150px;
	margin-bottom: 0.2em;
	text-align: center;
}

h1 {
	font-size: 50px;
	margin: 0 auto;
	padding-top: 4%;
	padding-right: 4%;
}

label {
	width: 125px;
}

input[type=checkbox] {
	margin: 0.2em;
}

nav {
	width: 90%;
	margin: 0 auto;
}

#dificultad {
	width: 8%;
	margin-left: 2em;
}

.error {
	color: #FF0000;
}

.form {
	display: inline;
	margin-right: 1em;
}

.form-control {
	width: 25%;
}

.login {
	border: 1px solid #EEEEEE;
	border-radius: 5px;
	margin-top: 2em;
	padding-left: 2em;
	padding-bottom: 1.5em;
}

.preg {
	width: 50%;
}

.resp {
	width: 72%;
}

.table {
	text-align: center;
}